/* index.css 或 App.css */
html, body {
  height: 100%;
  margin: 0;
  background-color: black;
}
body {
  overflow-x: hidden;
}
.project-card .card-bg {
  position: absolute;
  inset: 0; /* top:0, right:0, bottom:0, left:0 */
  background-size: cover;
  background-position: center;
  opacity: 0;                 /* 預設隱藏 */
  transition: opacity 0.4s ease;
  z-index: 0;
}

.project-card:hover .card-bg {
  opacity: 0.6            /* hover 時淡入 */
}

.project-card h5,
.project-card p {
  z-index: 1;                 /* 保證文字在圖片上面 */
}



.transition-nav {
  transition: transform 0.3s ease-in-out;
}

.transition-nav.hide {
  transform: translateY(-100%);
}

.transition-nav.show {
  transform: translateY(0);
}