/* index.css 或 App.css */
html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
  overflow-x: hidden;
  /* 禁止水平滾動 */
  width: 100%;
}

body {
  overflow-x: hidden;
}

.project-card .card-bg {
  position: absolute;
  inset: 0;
  /* top:0, right:0, bottom:0, left:0 */
  background-size: cover;
  background-position: center;
  opacity: 0;
  /* 預設隱藏 (桌機 >1050px) */
  transition: opacity 0.4s ease;
  z-index: 0;
  opacity: 0.15 !important;   /* 直接顯示 */
  border: 2px solid rgba(255, 255, 255, 1); /* 半透明白色邊框 */
  border-radius:10px;       /* 圓角（和卡片一致） */
/* hover 時淡入 (桌機 >1050px) */
}

.project-card:hover .card-bg {

  opacity: 0.5 !important;   /* 直接顯示 */
    border: 2px solid rgba(255, 255, 255, 1); /* 半透明白色邊框 */
    border-radius:10px;       /* 圓角（和卡片一致） */
  /* hover 時淡入 (桌機 >1050px) */
}




.transition-nav {
  transition: transform 0.3s ease-in-out;
}

.transition-nav.hide {
  transform: translateY(-100%);
}

.transition-nav.show {
  transform: translateY(0);
}